workflow.json
{
  "name": "Inventory Management Agent",
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Trigger Daily Inventory Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-220, 0],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "days", "triggerAtHour": 9, "triggerAtMinute": 0 }
          ]
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Load Current Stock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [0, 0],
      "parameters": {
        "documentId": { "__rl": true, "value": "SPREADSHEET_ID_PLACEHOLDER", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Current stock", "mode": "name" },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "civ7Bg0uxoz2coGu", "name": "Google Sheets account" }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Format Input for AI Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Fetch all incoming items\nconst items = $input.all();\n\n// Extract the raw row data (each item.json is one row)\nconst rawRows = items.map(item => item.json);\n\n// Bundle everything into a single field\nconst payload = { rows: rawRows };\n\n// Return a single output item whose json contains your full dataset\nreturn [{ json: { data: payload } }];"
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [420, 200],
      "parameters": {
        "model": "gemma4:latest",
        "options": { "temperature": 0 }
      },
      "credentials": {
        "ollamaApi": { "id": "E2TBIVWPZ64avN7z", "name": "Ollama local" }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Generate Forecast with AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [440, 0],
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.data) }}",
        "options": {
          "systemMessage": "You are an inventory management agent for a local provision shop in Singapore.\n\nYour job is to read the current stock levels from the input data and decide whether any item needs replenishment.\n\nProducts handled:\n- flour\n- cheese\n- tomato sauce\n- pasta\n- beef\n\nRules:\n1. All stock amounts are in kilograms (KG).\n2. The input is a JSON object with a `rows` array of dated stock records. Use ONLY the most recent row (latest Date) as the current stock level.\n3. Check each product stock level.\n4. If stock is below 20 KG, mark it as LOW STOCK.\n5. For every LOW STOCK item, calculate the replenishment amount needed to bring the stock up to 50 KG, i.e. replenishment_kg = 50 - current_stock_kg.\n6. If stock is 20 KG or above, status is OK and replenishment_kg is 0.\n7. Output must be clear, structured, and easy for the next n8n node to use.\n8. Do not explain unnecessarily. Just return the result.\n\nRespond with ONLY a raw JSON object. No prose. No markdown code fences. Use exactly this shape:\n{\n  \"date\": \"YYYY-MM-DD\",\n  \"replenishments\": [\n    {\"item\": \"Flour\", \"current_stock_kg\": 11.5, \"status\": \"LOW STOCK\", \"replenishment_kg\": 38.5},\n    {\"item\": \"Cheese\", \"current_stock_kg\": 45, \"status\": \"OK\", \"replenishment_kg\": 0}\n  ]\n}\n\nInclude exactly one entry for every one of the five products, whether LOW STOCK or OK."
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Interpret AI Forecast Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Assume the AI agent returned a single item and its text is in item.json.output\nconst items = $input.all();\nconst aiText = String(items[0].json.output ?? '');\n\n// Remove markdown fences, then fall back to the first {...} block if the model added prose\nlet jsonString = aiText.replace(/```(?:json)?\\s*([\\s\\S]*?)```/i, '$1').trim();\nif (!jsonString.startsWith('{')) {\n  const match = jsonString.match(/\\{[\\s\\S]*\\}/);\n  if (match) jsonString = match[0];\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (e) {\n  throw new Error('Failed to parse JSON from AI output: ' + e.message + ' | raw: ' + aiText.slice(0, 300));\n}\n\nconst date = parsed.date || new Date().toISOString().slice(0, 10);\nconst replenishments = Array.isArray(parsed.replenishments) ? parsed.replenishments : [];\nif (replenishments.length === 0) {\n  throw new Error('AI returned no replenishments. Raw: ' + aiText.slice(0, 300));\n}\n\n// Emit one n8n item per product so Google Sheets appends one row each\nreturn replenishments.map(r => ({\n  json: {\n    Date: date,\n    Item: r.item,\n    'Current Stock (kg)': Number(r.current_stock_kg),\n    Status: r.status,\n    'Replenishment (kg)': Number(r.replenishment_kg),\n  },\n}));"
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000007",
      "name": "Log Stocks to Purchase",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [920, 0],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "SPREADSHEET_ID_PLACEHOLDER", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Stocks to purchase", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "civ7Bg0uxoz2coGu", "name": "Google Sheets account" }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000008",
      "name": "Build Supplier Order Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collapse the per-product rows into ONE item so Gmail sends a single email\nconst rows = $input.all().map(i => i.json);\nconst date = rows[0]?.Date ?? new Date().toISOString().slice(0, 10);\nconst low = rows.filter(r => String(r.Status).toUpperCase().includes('LOW'));\n\nconst SHEET_URL = 'https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit?usp=sharing';\n\nconst cell = v => `<td style=\"padding:6px 10px;border:1px solid #ddd\">${v}</td>`;\nconst body = rows.map(r =>\n  `<tr>${cell(r.Item)}${cell(r['Current Stock (kg)'])}${cell(r.Status)}${cell(r['Replenishment (kg)'])}</tr>`\n).join('');\n\nconst table = `<table style=\"border-collapse:collapse;font-family:Arial,sans-serif;font-size:14px\">\n<tr style=\"background:#f2f2f2\">\n  <th style=\"padding:6px 10px;border:1px solid #ddd\">Item</th>\n  <th style=\"padding:6px 10px;border:1px solid #ddd\">Current Stock (kg)</th>\n  <th style=\"padding:6px 10px;border:1px solid #ddd\">Status</th>\n  <th style=\"padding:6px 10px;border:1px solid #ddd\">Replenishment (kg)</th>\n</tr>${body}</table>`;\n\nconst orderLines = low.length\n  ? low.map(r => `<li>${r.Item}: <b>${r['Replenishment (kg)']} kg</b></li>`).join('')\n  : '<li>No items below the 20 kg threshold. No order required.</li>';\n\nconst subject = low.length\n  ? `Stock replenishment order - ${date} (${low.length} item${low.length > 1 ? 's' : ''})`\n  : `Inventory check ${date} - all stock levels OK`;\n\nconst message = `Dear Supplier,<br><br>\nI want to purchase this order.<br><br>\n<b>Inventory date:</b> ${date}<br><br>\n<b>Order required:</b><ul>${orderLines}</ul>\n<b>Full stock audit:</b><br>${table}<br>\n<b>Sheet link with all data:</b><br>\n<a href=\"${SHEET_URL}\">Click here to view the data</a><br><br>\nThanks,<br>Inventory Management Agent`;\n\nreturn [{ json: { date, subject, message, low_stock_count: low.length } }];"
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000009",
      "name": "Email Order to Supplier",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1360, 0],
      "parameters": {
        "sendTo": "angch@tertiaryinfotech.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": { "id": "jeBTYtdqQPmdlQ24", "name": "Gmail account" }
      }
    }
  ],
  "connections": {
    "Trigger Daily Inventory Check": {
      "main": [[{ "node": "Load Current Stock", "type": "main", "index": 0 }]]
    },
    "Load Current Stock": {
      "main": [[{ "node": "Format Input for AI Agent", "type": "main", "index": 0 }]]
    },
    "Format Input for AI Agent": {
      "main": [[{ "node": "Generate Forecast with AI", "type": "main", "index": 0 }]]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [[{ "node": "Generate Forecast with AI", "type": "ai_languageModel", "index": 0 }]]
    },
    "Generate Forecast with AI": {
      "main": [[{ "node": "Interpret AI Forecast Output", "type": "main", "index": 0 }]]
    },
    "Interpret AI Forecast Output": {
      "main": [[{ "node": "Log Stocks to Purchase", "type": "main", "index": 0 }]]
    },
    "Log Stocks to Purchase": {
      "main": [[{ "node": "Build Supplier Order Email", "type": "main", "index": 0 }]]
    },
    "Build Supplier Order Email": {
      "main": [[{ "node": "Email Order to Supplier", "type": "main", "index": 0 }]]
    }
  }
}
